<form action="burgers/delete/{{this.id}}?_method=DELETE" method="POST"> 
  <button type="submit" class="btn btn-primary">Digest!</button>
</form>

 <!-- option 2, pass in the id of the burger inside the form using req.body.id instead of req.params.id -->
  <!-- <input type="hidden" name="id" value="{{this.id}}"> -->